<p id="notice"><%= notice %></p>

<div class="container">
  <div class="header-container">
    <p>
      <div id="wrapper"><div id="im"><img src='<%= @artist.photo_url %>'/></div></div>
    </p>

    <p>
      <div id="name">
      <%= @artist.name %>
      </div>
    </p>

    <p>
      <div id="description">
      <%= @artist.description %>
      </div>
    </p>

    <%= link_to 'Edit', edit_artist_path(@artist) %> |
    <%= link_to 'Back', artists_path %>


    <div class="body-container">
      <p>
        <%= link_to "Add art(+)", new_artist_art_path(@artist) %>
      </p>
    </div>

    <!-- THESE ARE THE ART PIECES -->
    <div class="list-container">
      <% @artist.arts.each do |art| %>
      <div class="list-header-container">


        <%= link_to artist_art_path(@artist, art) do %>
          <div id="piece-wrapper"><div id="im"><img src='<%= art.photo_url %>'/></div></div>
        <% end %>


        <div id="name"><%= art.name %></div>
        <div id="description"><%= art.description %></div>

        <%= link_to 'Edit', edit_artist_art_path(@artist, art) %>
        <%= link_to 'Destroy', artist_art_path(@artist, art), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>



  </div>
</div>
