<p id="notice"><%= notice %></p>

<div class="container">
  <div class="header-container">
    <p>
      <div id="wrapper"><div id="im"><img src='<%= @artist.photo_url %>'/></div></div>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @artist.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @artist.description %>
    </p>

    <%= link_to 'Edit', edit_artist_path(@artist) %> |
    <%= link_to 'Back', artists_path %>

    <div class="body-container">
      <p>
        <%= link_to "Add art(+)", new_artist_art_path(@artist) %>
      </p>
    </div>

  </div>
</div>
