<p id="notice"><%= notice %></p>

<h1>Musicians</h1>
  <div class="list-container">

    <% @musicians.each do |musician| %>
      <div class="list-header-container">
        <div id="wrapper"><div id="im"><img src='<%= musician.photo_url %>'/></div></div>
        <div id="name"><%= musician.name %></div>
        <%= musician.description %>
        <%= link_to 'Show', musician %>
        <%= link_to 'Edit', edit_musician_path(musician) %>
        <%= link_to 'Destroy', musician, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

  </div>


<br>

<%= link_to 'New Musician', new_musician_path %>
