<p id="notice"><%= notice %></p>

<div class="container">
  <div class="header-container">
    <p>
      <div id="wrapper"><div id="im"><img src='<%= @musician.photo_url %>'/></div></div>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @musician.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @musician.description %>
    </p>

    <%= link_to 'Edit', edit_musician_path(@musician) %> |
    <%= link_to 'Back', musicians_path %>

    <div class="body-container">
      <!-- insert collabed work here -->
    </div>

  </div>
</div>
