<p id="notice"><%= notice %></p>

<div class="container">
  <div class="header-container">
    <p>
      <div id="wrapper"><div id="im"><img src='<%= @collab.photo_url %>'/></div></div>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @collab.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @collab.description %>
    </p>

    <p>
      <strong>Contributors:</strong>
      <%= link_to @artists.name, @artists %> and
      <%= link_to @musicians.name, @musicians %>
    </p>

    <%= link_to 'Edit', edit_collab_path(@collab) %> |
    <%= link_to 'Back', collabs_path %>

    <div class="body-container">
      <!-- insert collabed work here -->
    </div>

  </div>
</div>
