<div class="container">
  <div class="header-container">
    <p>
      <div id="wrapper"><div id="im"><img src='<%= @art.photo_url %>'/></div></div>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @art.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @art.description %>
    </p>



    <%= link_to 'Edit', edit_artist_art_path(@artist, @art) %> |
    <%= link_to 'Back', @artist %>

    <div class="body-container">
      <!-- insert collabed work here -->
    </div>

  </div>
</div>
