<p id="notice"><%= notice %></p>

<h1>Musics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Photo url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.name %></td>
        <td><%= music.description %></td>
        <td><%= music.photo_url %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music', new_musician_music_path %>
