<!DOCTYPE html>
<html>
  <head>
    <title>Maestropiece</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>

      <a href="/artists" id="art-cursor">Artists</a>
      <a href="/musicians" id="music-cursor">Musicians</a>
      <a href="/collabs" id="collab-cursor">Collabs</a>

      <div id="maestropiece"><div class="inset-text">Maestropiece</div></div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
